.About-desc {
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.About-item {
    padding-bottom: 20px;
}

.About-link {
    color: green;
    text-decoration: none;
}

